<%= render "filter" %>

<table class="table">
  <thead>
    <tr>
      <th>Product</th>
      <th>Medium</th>
      <th>Product Detail Views</th>
      <th>Product Revenue</th>
    </tr>
  </thead>
  <tbody>
    <% @items.each do |i| %>
      <tr>
        <td><%= i.title %></td>
        <td><%= i.medium %></td>
        <td><%= i.visitors_count %></td>
        <td><%= i.arpu_sum %></td>
      </tr>
    <% end %>
  </tbody>
</table>
